<div class="container p-4">
      <div class="row">

        <div class="col s5 mx-auto text-center">
          <!-- WEATHER CARD -->
          <div class="card mt-4" style="width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">

              <form (submit)="submitLocation(cityName, cityCode)">
                <div class="form-group">
                  <input type="text" #cityName class="form-control" placeholder="City" autofocus>
                </div>
                <div class="form-group">
                  <input type="text" #cityCode class="form-control" placeholder="Country Code" >
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Get Weather</button>
                </div>
              </form>

            </div>
          </div>
          </div>

          <!-- WEATHER FORM -->

        <div class="col s7 ">
          <div class="card mt-4" style="width: 20rem;">
          <div class="card-header"></div>
            <div class="card-body">
              <h1 class="h3">{{weather.name}}</h1>
              <h3  class="h6">{{weather.main.temp}} °C</h3>
              <h3 class="h6">{{weather.weather[0].description }}</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> Humidity: {{weather.main.humidity}}</li>
                <li class="list-group-item">Pressure: {{weather.main.pressure}} </li>
                <li class="list-group-item">Temp. min: {{weather.main.temp_min}} °C</li>
                <li class="list-group-item">Temp. max:{{weather.main.temp_max}} °C</li>

              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
